
header nav ul {
    list-style: none;
    padding: 20px;
    margin: 20px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-around;
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
  }
  
  header nav ul li {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    font-size: larger;
    display: flex;
    
  }
  
  header nav ul li .active {
    color: #000e53;
    background-color: #c8c8c8;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .content {
     padding: 0px;
  }
  