@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.header {
  background-color: #282c34; /* Dark background for modern look */
  color: #ffffff; /* White text color */
  padding: 20px 40px;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .header {
    padding: 15px 20px; /* Smaller padding */
    font-size: 18px; /* Smaller font size */
  }
}
